#contactPane{
	-fx-background-color: #4b4b4b;
}

.tool-bar{
	-fx-background-color: #4b4b4b; /* Colore di sfondo */
}


.button{
	-fx-background-color: #8b0000; /* Sfondo */
    -fx-text-fill: white;       /* Angoli arrotondati */
}




#nameField, #surnameField, #number1Field, #number2Field, #number3Field, #email1Field, #email2Field, #email3Field{
	-fx-background-color: #4b4b4b; /* Sfondo grigio chiaro */
    -fx-border-color: transparent transparent #FFFFFF transparent; /* Solo bordo inferiore bianco */
    -fx-border-width: 0 0 0.5px 0; /* Spessore: 0 sopra, 0 destra, 2px sotto, 0 sinistra */
    -fx-prompt-text-fill: white;
}

